*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
html,body{
    height:100%;
   width:100%;
}

body{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 10%;
    width: 100%;
    border: 2px solid black;
}

footer{
    margin-top: 20px;
}